
IbuCollection/.vs/IbuCollection/v16/.suo
IbuCollection/.vs/IbuCollection/v15/Server/sqlite3/storage.ide-wal
*.cache
IbuCollection/.vs/IbuCollection/v15/Server/sqlite3/storage.ide-shm
IbuCollection/IbuCollection/bin/IbuCollection.pdb
